################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiApp/.vs/WebApiApp/v15
/WebApiApp/WebApiApp/obj
